*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box; }

ul {
  list-style-type: none; }

a {
  text-decoration: none;
  color: #333; }

::selection {
  background-color: #783030;
  color: #fff; }

.center-text {
  text-align: center; }

.mb-lg {
  margin-bottom: 8rem; }
  @media only screen and (max-width: 56.25em) {
    .mb-lg {
      margin-bottom: 5rem; } }

.mb-md {
  margin-bottom: 4rem; }
  @media only screen and (max-width: 56.25em) {
    .mb-md {
      margin-bottom: 3rem; } }

.mb-sm {
  margin-bottom: 1.5rem; }

.mt-md {
  margin-top: 5rem; }

.mt-lg {
  margin-top: 8rem; }

.mt-xl {
  margin-top: 10rem; }

.d-none {
  display: none; }

.d-block {
  display: block; }

.dark-overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-image: linear-gradient(rgba(51, 51, 51, 0.63), rgba(51, 51, 51, 0.63));
  height: 100%;
  z-index: 80; }

.left {
  transition: all .4s ease;
  transform: translateX(-50rem); }

.right {
  transition: all .4s ease;
  transform: translateX(0rem); }

@keyframes pomeriLevo {
  0% {
    opacity: 0;
    /* na pocetku se ne vidi */
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes pomeriDesno {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes pomeriDole {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #777; }

.heading-primarni {
  color: #fff;
  backface-visibility: hidden;
  margin-bottom: 2rem;
  overflow: hidden;
  font-size: 3.5rem; }
  .heading-primarni--glavni {
    display: block;
    font-size: 4rem;
    font-weight: 400;
    letter-spacing: 1rem;
    animation: pomeriLevo 1s ease-out; }
    @media only screen and (max-width: 37.5em) {
      .heading-primarni--glavni {
        letter-spacing: 1rem;
        font-size: 3rem; } }
  .heading-primarni--dopunski {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.75rem;
    animation: pomeriDesno 1s ease-out; }
    @media only screen and (max-width: 37.5em) {
      .heading-primarni--dopunski {
        letter-spacing: .5rem; } }
  .heading-primarni span {
    text-transform: uppercase;
    color: #783030;
    font-weight: 700;
    font-size: 5rem; }
    @media only screen and (max-width: 37.5em) {
      .heading-primarni span {
        font-size: 4rem; } }

.heading-sekundarni {
  color: #999;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 700;
  animation: pomeriDesno 1s ease-out;
  display: inline-block;
  -webkit-background-clip: text;
  letter-spacing: 2px;
  transition: all .2s; }
  @media only screen and (max-width: 56.25em) {
    .heading-sekundarni {
      font-size: 1.7rem; } }
  @media only screen and (max-width: 37.5em) {
    .heading-sekundarni {
      font-size: 1.5rem; } }

.heading-ternarni {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase; }

.paragraf {
  font-size: 1.6rem; }

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.2rem 3rem;
  display: inline-block;
  background-color: #783030;
  color: #f0f0f0;
  transition: all .2s;
  position: relative;
  font-size: 1.6rem;
  box-shadow: 0 0.3rem 0.4rem rgba(0, 0, 0, 0.5);
  border: none;
  cursor: pointer; }

.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 1 0.5rem 0.7rem rgba(0, 0, 0, 0.5); }

.btn:active, .btn:focus {
  outline: none;
  transform: translateY(0.1rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn--belo {
  background-color: #fff;
  color: #777; }
  .btn--belo::after {
    background-color: #fff; }

.header {
  grid-column: fullBleed-start / fullBleed-end;
  background-image: linear-gradient(rgba(25, 24, 24, 0.5), rgba(120, 48, 48, 0.5)), url(../img/athleteON-hero.jpg);
  background-size: cover;
  display: grid;
  grid-template-columns: [fullBleed-start] minmax(7rem, 1fr) [center-start] repeat(10, [col-start] minmax(min-content, 11rem) [col-end]) [center-end] minmax(7rem, 1fr) [fullBleed-end]; }
  @media only screen and (max-width: 56.25em) {
    .header {
      background-position: center; } }
  .header__content {
    grid-column: center-start / col-start 7;
    align-self: center; }

.services {
  background-color: seagreen; }

.container {
  display: grid;
  grid-template-columns: [fullBleed-start] minmax(7rem, 1fr) [center-start] repeat(10, [col-start] minmax(min-content, 11rem) [col-end]) [center-end] minmax(7rem, 1fr) [fullBleed-end]; }
  .container__home {
    grid-template-rows: 80vh min-content 40vw repeat(3, min-content); }

.nav {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: #f0f0f0;
  box-shadow: 0 0.3rem 0.4rem rgba(0, 0, 0, 0.5);
  display: grid;
  grid-template-columns: [fullBleed-start] minmax(7rem, 1fr) [center-start] repeat(10, [col-start] minmax(min-content, 11rem) [col-end]) [center-end] minmax(7rem, 1fr) [fullBleed-end]; }
  .nav__logo {
    grid-column: center-start / col-end 2;
    font-size: 3rem; }
  .nav__menu {
    grid-column: 7 / center-end;
    display: grid;
    justify-content: end;
    grid-template-columns: repeat(5, minmax(min-content, 1fr)); }
  .nav__hamburger {
    align-self: center;
    grid-column: 5 / 6;
    justify-self: end;
    font-size: 2.5rem;
    cursor: pointer; }
    @media only screen and (min-width: 850px) {
      .nav__hamburger {
        display: none; } }
  .nav__item {
    display: grid; }
    .nav__item:hover {
      background-color: #d8d8d8; }
  .nav__link {
    justify-self: center;
    align-self: center;
    font-size: 1.5rem;
    display: none; }
    @media only screen and (min-width: 850px) {
      .nav__link {
        display: block; } }

.nav-mobile {
  position: fixed;
  height: 100vh;
  width: 30vh;
  background-image: linear-gradient(rgba(240, 240, 240, 0.63), rgba(120, 48, 48, 0.63));
  box-shadow: 0 0.3rem 0.4rem rgba(0, 0, 0, 0.5);
  z-index: 100; }
  .nav-mobile__menu {
    display: grid;
    align-items: center; }
  .nav-mobile__item {
    padding: 1rem 7rem;
    font-size: 2rem; }
    .nav-mobile__item:hover {
      background-color: #d8d8d8; }
