
// Centriranje sadrzaja
@mixin absoluteCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


// Media Query Menadzer
@mixin respond($prelomna-tacka) {
    @if $prelomna-tacka == mobilni {
       @media only screen and (max-width: 37.5em) { @content };
    }
    @if $prelomna-tacka == tablet-sm {
        @media only screen and (max-width: 56.25em) { @content };
    }
    @if $prelomna-tacka == tablet-xl {
        @media only screen and (max-width: 75em) { @content };
    }
    @if $prelomna-tacka == desktop-xl {
        @media only screen and (min-width: 112.5em) { @content };
    }
}



// Grid
@mixin fullBleed {
    grid-template-columns: 
        [fullBleed-start]
        minmax(7rem, 1fr)
        [center-start]
        repeat(10, [col-start] minmax(min-content, 11rem) [col-end])
        [center-end]
        minmax(7rem, 1fr)
        [fullBleed-end]
    ;
}

@mixin gridCenter {
    justify-content: center;
    align-content: center;
}


@mixin gridSelfCenter {
    justify-self: center;
    align-self: center;
}


// Box-Shadow
@mixin box-shadow-1 {
    box-shadow: 0 .3rem .4rem (rgba(#000, .5));
}
@mixin box-shadow-2 {
    box-shadow: 0 .5rem .7rem (rgba(#000, .5));
}