// Boje
$osnovna: #f0f0f0;
$osnovna-tamna-1: #d8d8d8;
$osnovna-tamna-2: #a8a8a8;

$sekundarna-svetla: #393737;
$sekundarna-tamna: #191818;

$specijal: #783030;

$siva-blaga-1: #f7f7f7;
$siva-blaga-2: #eee;

$siva-tamna-1: #999;
$siva-tamna-2: #333;

$siva: #777;
$bela: #fff;
$crna: #000;

// Font
$normalan-font: 1.6rem;