body {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    line-height: 1.7;
    color: $siva;
}

.heading-primarni {
    color: $bela;
    // text-transform: uppercase;
    backface-visibility: hidden;
    margin-bottom: 2rem;
    overflow: hidden;
    font-size: 3.5rem;

    &--glavni {
        display: block;
        font-size: 4rem;
        font-weight: 400;
        letter-spacing: 1rem;
        animation: pomeriLevo 1s ease-out;
        @include respond(mobilni) {
            letter-spacing: 1rem;
            font-size: 3rem;
        }
    }
    &--dopunski {
        display: block;
        font-size: 2rem;
        font-weight: 700;
        letter-spacing: 1.75rem;
        animation: pomeriDesno 1s ease-out;
        @include respond(mobilni) {
            letter-spacing: .5rem;
        }
    }
    span {
        text-transform: uppercase;
        color: $specijal;
        font-weight: 700;
        font-size: 5rem;
        @include respond(mobilni) {
            font-size: 4rem;
        }
    }
}

.heading-sekundarni {
    color: $siva-tamna-1;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 700;
    animation: pomeriDesno 1s ease-out;
    // background-image: linear-gradient(to right, $osnovna, $osnovna);
    display: inline-block;
    -webkit-background-clip: text;
    // color: transparent;
    letter-spacing: 2px;
    transition: all .2s;
    @include respond(tablet-sm) {
        font-size: 1.7rem;
    }
    @include respond(mobilni) {
        font-size: 1.5rem;
    }
    // &:hover {
    //     transform: skewY(2deg) skewX(15deg) scale(1.1);
    //     text-shadow: .5rem 1rem 2rem rgba($crna, 0.2);
    // }
}

.heading-ternarni {
    font-size: 1.6rem;
    font-weight: 700;
    text-transform: uppercase;
}

.paragraf {
    font-size: 1.6rem;
    // &:not(:last-child) {
    //     margin-bottom: 3rem;
    // }
}
