

.services {
    grid-column: center-start / center-end;

    &__cards {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: 1fr;
        gap: 6rem;
        grid-template-columns: repeat( auto-fit, minmax(30rem, 1fr) );
    }
    &__card {
        display: grid;
        transition: all .2s ease;
        @include box-shadow-1;
        padding: 1.2rem 2.3rem;
        @media only screen and(min-width: 1044px) {
            &:last-child {
                display: none;
            }
        }
        &:hover {
            transform: translateY(-1rem);
            @include box-shadow-2;
        }
    }
    &__icon {
        color: $specijal;
    }
    &__card-heading {
        font-size: 1.5rem;
    }
    p {
        font-size: $normalan-font;
    }
}