.btn {
    &,
    &:link,
    &:visited {
        text-transform: uppercase;
        text-decoration: none;
        padding: 1.2rem 3rem;
        display: inline-block;
        background-color: $specijal;
        color: $osnovna;
        transition: all .2s;
        position: relative;
        font-size: $normalan-font;
        @include box-shadow-1;

        border: none;
        cursor: pointer;
    }
    &:hover {
        transform: translateY(-.3rem);
        @include box-shadow-2;
    }
    &:active,
    &:focus {
        outline: none;
        transform: translateY(.1rem);
        box-shadow: 0 .5rem 1rem rgba($crna, 0.2);
    }
    &--belo {
        background-color: $bela;
        color: $siva;
        &::after {
            background-color: $bela;
        }
    }
}